<ion-view view-title="Messages">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right"
                ng-repeat="message in cache.messages track by $index"
                type="item-text-wrap" href="#/tab/message/{{cache.channel.id}}/{{message.id}}">
        <i class="icon positive ion-chatbubble" ng-if="message.last_read==null"></i>
        <h2>
          {{message.title}} ...
        </h2>
        {{message.created}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="hasMore"
            on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
