<ion-view view-title="Messages">
  <ion-content ng-class="{'has-loading': statusbar.show}">
    <ion-refresher
          pulling-text="下拉刷新中..."
          on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right"
                ng-repeat="message in cur_channel.messages track by $index"
                type="item-text-wrap" href="#/tab/message/{{cur_channel.id}}/{{message.id}}">
        <i class="icon positive ion-email" ng-if="message.last_read==null"></i>
        <i class="icon dark ion-checkmark-circled" ng-if="message.last_read!=null"></i>
        <h2>
          {{message.title}} ...
        </h2>
        <div class="small-font">{{message.created}}</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="hasMore"
            on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
