<ion-view view-title="聽力">
  <ion-content class="padding" ng-class="{'has-loading': statusbar.show}">

    <div class="list card">

      <div class="item item-text-wrap">
        <h2>{{quiz.title}}</h2>
      </div>

      <div class="item">
        <div class="range">
          <a class="button-icon positive icon" ng-class="[play_style]" ng-click="doPlayOrPause(quiz.audio)"></a>
          <input type="range" on-drag="onDrag()" on-release="onRelease($event)" ng-model="progress.play" min="0" max="100">
          <a class="button button-icon dark icon ion-stop" ng-click="stop()"></a>
        </div>
      </div>

      <div class="item record-item">
        <a class="ng-cloak button-icon positive icon ion-mic-c" ng-cloak ng-show="record_state=='init'" ng-click="startRecord()"> 錄音</a>
        <a class="ng-cloak button-icon assertive icon ion-record" ng-cloak ng-show="record_state=='recording'" ng-click="stopRecord()"> 停止</a>
        <a class="ng-cloak button-icon positive icon ion-play" ng-cloak ng-show="record_state=='recorded'" ng-click="playRecord()"> 播放</a>
        <a class="ng-cloak button-icon dark icon ion-pause" ng-cloak ng-show="record_state=='playing'" ng-click="pausePlay()"> 暫停</a>
        <a class="ng-cloak button-icon dark icon ion-play" ng-cloak ng-show="record_state=='paused'" ng-click="resumePlay()"> 續播</a>
        <a class="ng-cloak button-icon dark icon ion-stop" ng-cloak ng-show="record_state=='playing' || record_state=='paused'" ng-click="stopPlay()"> 停止</a>
        <a class="ng-cloak button-icon calm icon ion-upload" ng-cloak ng-show="record_state=='recorded'" ng-click="uploadRecord()"> 上傳</a>
        <a class="ng-cloak button-icon dark icon ion-refresh" ng-cloak ng-show="record_state=='recorded'" ng-click="redoRecord()"> 重錄</a>
      </div>

      <div class="item item-text-wrap">
        <div>
          <p ng-repeat="paragraph in quiz.script_txt|nlToArray track by $index">{{paragraph}}</p>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
