<ion-view view-title="課表">
  <ion-content scroll="true" has-bouncing="false">
    <!--<div class="btn-toolbar">-->
      <!--<div class="btn-group">-->
        <!--<button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>-->
        <!--<button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>-->
        <!--<button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>-->
  </ion-content>
</ion-view>
