<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.widecloud.pushtest9" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SmartSchool</name>
  <description>
        智慧學校
    </description>
  <author email="nicepeter@gmail.com" href="http://www.phm.com.tw">
    PHM SmartSchool
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="iosdev/Resources/icons/icon.png" />
</widget>
